################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DotNetCoreJwt/v15/Server/sqlite3
/.vs/DotNetCoreJwt/v15
/.vs
/.vs/MetricsRazor/v15
/.vs
/MetricsRazor/bin/
/MetricsRazor/obj/
/MetricsRazor/obj/Debug/
/MetricsRazor/bin/Debug/net461
/MetricsRazor/obj/Release/net461
/src/MetricsRazor/bin/Debug/net461
/src/MetricsRazor/obj
/tests/UnitTest/bin/Debug/netcoreapp2.0
/tests/UnitTest/obj/Debug/netcoreapp2.0
/tests/UnitTest/obj/Release/netcoreapp2.0
/tests/UnitTest/obj
