################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DotNetCoreJwt/v15/Server/sqlite3
/.vs/DotNetCoreJwt/v15
/.vs
/MetricsRazor/bin/Debug/net461
/testRAzor/bin/Debug/netcoreapp2.0
/testRAzor/obj
